<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title }}</title>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="{{ site.url }}/js/custom.js"></script>

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ site.url }}/css/syntax.css">
<link rel="stylesheet" href="{{ site.url }}/css/custom.css">

<link rel="canonical" href="{{ site.url }}{{ page.url }}">

<link rel="icon" href="{{ site.url }}/assets/favicon.png">

